.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: transparent;
	padding: 0 1.5rem 2.5rem 1.5rem;
}

.container__title {
	background-image: linear-gradient(180deg, #fff, #adadad);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
	font-size: max(1.8em, min(5vw, 2em));
	line-height: 1;
	letter-spacing: -0.05em;
	padding: 1.5rem;
	position: relative;
}

.container__title::selection {
	-webkit-text-fill-color: #fff !important;
}

.container__text {
	color: #ececec;
	padding-bottom: 1rem;
}

.container__goChat {
	border: hsla(0, 0%, 93%);
	padding: 0.3125rem 0.75rem;
	border-radius: 0.375rem;
	background: hsla(0, 0%, 93%);
	color: #0a0a0a;
	font-weight: 600;
	font-size: 1.0625em;
	transition-property: background, color;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.container__goChat:hover {
	background: hsla(0, 0%, 73%);
	color: opacity(0.2);
}

.unselected {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
